@import "~bulma/bulma.sass";

.page-wrapper {
  margin: 60px auto;
  width: 520px;
  min-height: 90vh;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas-container {
  transform: scale(1.5);
  display: flex;
  justify-content:center;
}

.doodle-comments-wrapper {
  margin: 100px 0 0 0;
}

.desc-top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


// * {
//   border: 1px #000 solid;
// }

.description-wrapper {
  margin: 0 0 100px 0;
}
