$brand-color: #42c298;

@import "~bulma/bulma.sass";

.footer {
  padding: 32px 0 !important;
  text-align: center;
  background-color: transparent !important;
}

.inner-footer-wrapper {
  width: 200px !important;
  margin: 0 auto;
}

.footer-link {
  color: #000;
  transition: 0.2s all;
}

.footer-link:hover {
  color: $brand-color;
  padding-bottom: 12px !important;
}

.copyright-text {
  margin-top: 12px !important;
}