.gallery {
background-color: rgba(72, 255, 0, 0.15);
padding: 1em
}
@import "react-loader-spinner/dist/loader/css/react-spinner-loader.css";

.loader-container{
  text-align: center;
  height: 80vh;
  }
  



