@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import "react-loader-spinner/dist/loader/css/react-spinner-loader.css";
// $buttonColor: red;

body {
  display: flex;
  justify-content: center;
}

div.main {
  width: 70vw;
}


.loader-container{
  text-align: center;
  height: 80vh;
  }
  

.gallery {
  background-color: rgba(72, 255, 0, 0.15);
  padding: 1em;
  }

.title-img {
  height: 8vh;
  text-align: center
}