$brand-color: #42c298;

@import "~bulma/bulma.sass";
.section {
	padding:5px 0;
}

section.section {
  display: flex-wrap;
}

.section-header {
  padding: 0 0 3vmax 0 !important;
}
p.home {
  margin: 3% 20% 1%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;

}
// .section-header,
// .section-footer {
// 	text-align: center;
// }
img {
  height: 60px;
}
.grid {
	display: flex;
	justify-content: center;
	text-align:center;
	list-style: none;
  object-fit: fill;
}

.grid-item {
	flex:1;
	display: flex;
	flex-direction: column;
	margin:20px;
  max-width: 600px;
}

.page-doodle {
	height: 340px;
  //width: 449.5px;
  background-image: url(https://media.giphy.com/media/l4FGtoprq7U3UAgtW/giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
}
.page-gallery {
	max-height: 340px;
  //width: 449.5px;
  background-image: url('../../assets/gallery-gif-test.gif');
  background-size: contain;
  background-repeat: no-repeat;
}

// .doodle-gif {
//   height: 250px;
//   width: 449.5px;
//   background: url(https://media.giphy.com/media/l4FGtoprq7U3UAgtW/giphy.gif);
// }




@media screen and (max-width: 1181px) {
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:center;
    list-style: none;
    object-fit: fill;
  }
  
  .grid-item {
    flex:1;
    display: flex;
    flex-direction: column;
    margin:20px auto;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
  }
}

	// margin: 20px 20px 24px;
  // object-fit: contain;

li.grid-item {
  margin: 20px 20px 24px;
}

/* Grid */
.homepage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: stretch;
	height: 250px;
	padding: 20px;
	color:#fff;
	// background-size:cover;
}

// .page-doodle {
// 	height: 250px;
//   width: 449.5px;
//   background-image: url(https://media.giphy.com/media/l4FGtoprq7U3UAgtW/giphy.gif);
//   background-size: contain;
//   background-repeat: no-repeat;
// }
// .page-gallery {
// 	height: 250px;
//   width: 449.5px;
//   background-image: url('../../assets/gallery-gif-test.gif');
//   background-size: cover;
//   background-repeat: no-repeat;
//   padding: 0px;
// }
.homepage-title {
	margin:0 0 10px;
	font-size: 50px;
	line-height: 1.1;
  color: #000;
}
#hero-body {
  background-color: #87CEEB;
}
#footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.homepage-wrapper {
  min-height: 80vh;
}
/* Hero Slider*/

/* Hero */
.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height:700px;
	color:#fff;
	text-align:center;
  height: 60vh;
}
.hero-content {
	max-width:600px;
	font-weight: 700;
}
.hero-content p {
	font-size:24px;
}
.hero-button {
	margin-top:20px;
}


.section-header-home{
  padding-top: 0rem;
}

.carousel-images{
  max-height: 420px;
  max-width: 420px;;
}

.carousel-slider {
  height: 420px;
}

.carousel-status {
  display: none;
}

.hover-box:hover {
  border: 1px solid $brand-color !important;
  border-radius: 2px !important;
  box-shadow: 4px 4px 0px $brand-color !important;
  color: $brand-color;
}

.homepage-logo {
  width: 410px;
}
