@import "~bulma/bulma.sass";


img{
  height: 50
}

#hero-body {
  background-color: #87CEEB;
}

#footer {
  padding-top: 10px;
  padding-bottom: 10px;
}



.card{ 
  min-height:420px ;
}
// .card-container{
// display: flex;
// flex-flow: row;

// }

