@import "~bulma/bulma.sass";


img{
  height: 50
}

#hero-body {
  background-color: #87CEEB;
}

#footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.gallery-canvas {
  border: 2px black solid;
  margin: 20px 20px;
}